body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(255, 250, 241);
}

.box {
  border-top: 2px solid black;
  padding-top: 5px;
}

.button-dark {
  background-color: #000;
  color: white;
}

a {
  color:steelblue;
}
