body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(196, 166, 112);
}

#Header {
  position: fixed;
  bottom: 3px;
  left: 3px;
  width: 100%;
  color: #CCC;
  background-color: #333;
  padding: 10px;
}
