@using PierresBakery.Models;

@{
  Layout = "_Layout";
}

<h1>Add a new order for @Model.Name </h1>

<form action='/vendors/@Model.Id/orders' method='post'>
<input id="orderId" name="orderId" type="hidden" value="@Model.Id">
  <label for="orderTitle">Order Title</label>
  <input if="orderTitle" name="orderTitle" type="text">
  <label for="orderDescription">Order Description</label>
  <input if="orderDescription" name="orderDescription" type="text">
  <label for="orderPrice">Order Price</label>
  <input if="orderPrice" name="orderPrice" type="text">
  <label for="orderDate">Order Date</label>
  <input if="orderDate" name="orderDate" type="text">
  <button type="submit">Add</button>
</form>

<p><a href='/'>Return home</a></p>
<p><a href='/vendors/@Model.Id'>Go to @Model.Name</a></p>