@{
  Layout = "_Layout";
}
<h1>Bakery Vendor and Order Tracker</h1>

<div class="box">
  <h2>Pierre, Welcome!</h2> 
  <h3 class="btn btn-dark btn-lg"><a href='/vendors'>View Vendors</a></h3>
  <h3 class="btn btn-dark btn-lg"><a href='/vendors/new'>Add a new Vendor</a></h3>
</div>